appdirs
argon2-cffi
async-generator
attrs
backcall
CacheControl
certifi
cffi
chardet
click
colorama
contextlib2
cycler
datasets
decorator
defusedxml
dill
distlib
distro
entrypoints
filelock
future
html5lib
idna
ipaddr
ipykernel==5.5.6
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
kiwisolver
lockfile
MarkupSafe
matplotlib
mistune
msgpack
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pep517
pexpect
pickleshare
Pillow
progress
prometheus-client
prompt-toolkit
ptyprocess
pyaml
pyarrow
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytoml
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
retrying
sacremoses
Send2Trash
sentencepiece
six
terminado
testpath
tokenizers
torch
torchvision
tornado
tqdm
traitlets
git+https://github.com/huggingface/transformers.git
urllib3
wcwidth
webencodings
wget
widgetsnbextension
xxhash
